language: python
env:
  - PYTHON_VERSION=2.7 IPYTHON_KERNEL=python2
  - PYTHON_VERSION=3.6 IPYTHON_KERNEL=python3
before_install:
    - wget -q http://repo.continuum.io/miniconda/Miniconda-3.6.0-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b -p /home/travis/miniconda
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda update --yes --quiet conda
install:
    - conda create -n testenv --yes pip python=$PYTHON_VERSION
    - source activate testenv
    - pip install -q flake8
    - pip install git+https://github.com/tayciryahmed/ramp-workflow
    - pip install -r requirements.txt
script:
    - flake8 *.py submissions/*/*.py
#    - jupyter nbconvert --execute fake_news_starting_kit.ipynb --ExecutePreprocessor.kernel_name=$IPYTHON_KERNEL
    - ramp_test_submission --quick-test
notifications:
email: true
